CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CRON_SECRET=
JWT_EXPIRES_IN=
JWT_SECRET=
MAIL_FROM=
MONGODB_URI=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
TEACHER_EMAIL=
TEACHER_PASSWORD=
TIMEZONE=